# LLM_MODEL
# https://api.deepinfra.com/v1/openai JTBxx openai/gpt-oss-20b
BASE_URL=https://api.deepinfra.com/v1/openai
MODEL=deepseek-ai/DeepSeek-V4-Flash
API_KEY=JTB53
MAX_TOKENS=12800
TIMEOUT=60
MAX_RETRIES=3

# VLM_MODEL
VLM_BASE_URL=https://api.deepinfra.com/v1/openai
VLM_MODEL=google/gemma-4-26B-A4B-it
VLM_API_KEY=JTBxx

# EMB_MODEL
EMB_BASE_URL=https://api.deepinfra.com/v1/openai
EMB_MODEL=Qwen/Qwen3-Embedding-4B
EMB_API_KEY=JTBxx

# DEV / PORD
DEV_ENV=True

# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=DEBUG
LOG_BACKUP_COUNT=1000
LOG_MAX_SIZE=50
LOG_FILE=logs/app.log
